{{#each users}}
  
    <div class= "col-md-2 image-container" id={{key}}>
      <div>
        <img alt="user image"src="{{user_image}}">
      </div>
      <div class="name-box">
        {{user_id}}
      </div>
      <div class="age-box">
        {{age}} / {{gender}}
      </div>
      <div class="geo-box">
      {{homelocation.city}}, {{homelocation.state}}
      </div>
    </div>
{{/each}}